@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.tblDiv {
    padding-left: 2rem;
    width: 100%;

}
.userTblDiv .tableCol{
    height: 38.85rem !important;
    border-radius: 25px;
}
.userTblDiv .tableCol .table-container{
    height: 33rem;
}

.tblDiv .tableCol {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 35rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tblDiv h1 {
    font-weight: 550;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 2px;
}

.table-container {
    overflow-y: auto;
    height: 31rem;
    position: relative;
}

/*.pagination-container {*/
/*    text-align: right;*/
/*    z-index: 999;*/

/*}*/

.prev-btn,
.next-btn {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
}

.prev-btn:disabled,
.next-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.table th {
    font-size: 16px;
}

.table td {
    font-size: 14px;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table tbody {
    overflow-y: auto;
}

.btnCol section {
    width: 80%;
}
.btnCol img{
    width: 100%;

}
.btnCol button {
    background-color: var(--color-white);
    padding: 10px 2px 2px 2px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    /*display: flex;*/
    /*align-items: center;*/
    /*gap: 1rem;*/
    /*margin-left: 10px;*/
}

.btnCol button h1 {
    font-weight: 500;
    font-size: 14px;
    opacity: 70%;
    margin-top: 5px;
}


.btnCol button i {
    font-size: 20px;
    opacity: 70%;
}

.btnCol button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.form-container {
    position: fixed;
    max-width: 650px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #ffffff;
    padding: 5px;
    border-radius: 25px;
    box-shadow: rgb(0, 0, 0, 0.1);
}

.employeeForm-container{
    position: fixed;
    /*max-width: 1000px;*/
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 101;*/
    max-width: 700px;
    background: #ffffff;
    padding: 5px;
    border-radius: 25px;
    box-shadow: rgb(0, 0, 0, 0.1);
}

.windowPopup{
    max-width: 650px;
}
.employeeWindowPopup{
    max-width: 700px;

}
.popupClose {
    opacity: 0.7;
    cursor: pointer;
}
.employeeForm-container h2,
.form-container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box {
    position: relative;
    margin-top: 12px;
    width: 100%;
    height: 35px;
}

.input_box input {
    height: 100%;
    width: 100%;
    /*padding: 0 30px;*/
    color: #333;
    transition: all 0.2s ease;
    text-align: center;
    border: #c5c5c5 solid 1px;
    border-radius: 15px;
    font-size: 12px;
}

.input_box input:focus {
    border-color: #0a53be;
}
.employeeForm-container .addBtn,
.employeeForm-container .cancelBtn,
.form-container .addBtn,
.form-container .cancelBtn {
    margin-top: 30px;
    width: 48%;
    padding: 10px 0;
    border-radius: 10px;
    border-color: white;
    font-weight: bold;
    font-size: 20px;
}
.employeeForm-container .addBtn,
.form-container .addBtn {
    background: #0a53be;
    color: #fff;
}

.employeeForm-container .cancelBtn,
.form-container .cancelBtn {
    background: #ffffff;
    color: #000000;
    border: #c5c5c5 solid 1px;
}

input[type="date"]::before {
    color: #999;
    content: attr(placeholder);
}

.lineDiv {
    opacity: 40%;
    width: 90%;
    height: 1px;
    background-color: #656565;
    position: relative;
}

.lineDiv {
    left: 35px;
}

.form-floating > .bi-calendar-date + .datepicker_input + label {
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding-left: 3.5rem;
    z-index: 3;
}

.search input {
    background-color: var(--color-white);
    padding: 10px 15px 10px 10px;
    border-radius: 15px;
    cursor: auto;
    transition: all 0.3s ease;
    width: 15rem;
    /*margin-right: 100px;*/
}

.search img {
    position: absolute;

}

.search div {
    margin-left: 12px;
}

.prev-btn,
.next-btn {
    background-color: var(--color-white);
    /*padding: 10px 15px 10px 10px;*/
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    /*max-width: 13rem;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.imgUploader {
    padding-top: 11px;
}

.deleteBtn {
    font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1600 - 300))) !important;
}

.deleteBtn:focus {
    box-shadow: none !important;
    outline-width: 0;
}

.card {
    border-radius: 16px;
    width: calc(500px + 10 * ((100vw - 320px) / 680));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.card-header {
    border-radius: 12px !important;
}

.modal-body .btn-danger {
    border-radius: 11px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-light {
    background: transparent !important;
    border: 0px !important;
}

.btn-light:hover {
    border-color: #fff !important;
}

.btn-light:active {
    border-color: #fff !important;
}

@media (max-width: 526px) {
    .card {
        width: unset;
    }
}

.modal-content {
    background: transparent !important;
}

.deleteMutedTxt {
    font-size: 15px;
    opacity: 75%;
}

.closeIcon {
    font-size: 25px !important;
    font-weight: bold;
    opacity: 50%;
}

.activeBtn {
    position: relative;
    top: 60px;
    left: 12px;
    width: 50%;
}
.userDeleteBtn{
    width: 13rem;
}

.orderBox{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}
.orderRow{
    gap: 1rem;
}
.purchersBtn{
    width: 120px;

}
.lbl{
    font-size: 12px;
}

.employeeForm-container select,
.form-container select{
    font-size: 12px;
}
.itemLbl{
    font-size: 10px;
}
.sizeInputBody{
    max-height: 18rem;
    overflow-y: auto;
}

.inputBody{
    max-height: 30rem;
    overflow-y: auto;
}

.orderItemTable{
    max-height: 8rem;
    overflow-y: auto;
}

.highlight{
    color: red !important;
    cursor: pointer;
}

.highlight1{
    color: #2cff00 !important;
    cursor: pointer;
}

.upload-div {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.upload-div img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.profileName {
    font-size: 70px;
}

.paraGraph{
    font-size: 10px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.form-step {
    display: none;
}

.form-step.active {
    display: block;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.checkPW{
    border: red solid 1px;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
}
.checkPW h2{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}